In [1]:
import pandas as pd
import numpy as np

path = "data/sample/test.csv"

In [296]:
import csv

# Abrir el archivo csv para lectura
with open(path, 'r') as f:
    reader = csv.reader(f)

    # Leer todas las filas en una lista
    rows = [row for row in reader]

# Modificar la fila 5
rows[4] = rows[4] + [''] * 150

# Abrir el archivo csv para escritura
with open(path, 'w', newline='') as f:
    writer = csv.writer(f)

    # Escribir todas las filas en el archivo csv
    writer.writerows(rows)

In [2]:
# Leer el primer dataframe
df1 = pd.read_csv( path, nrows=3, header= 0)
df1 = df1.iloc[:, 5:]
df1

,TestName,UUT Current Measurment,24 VDC Measurment,5 VDC Measurment,3.3 VDC Measurment
0,LowLimit,0.09,22.8,4.75,3.135
1,HighLimit,0.2,27.2,5.25,3.465
2,Units,A,VDC,VDC,VDC

In [3]:
# Leer el segundo dataframe
cols = ['SN', 'Date', 'CycleTime', 'Status', 'FirstFail']
df2 = pd.read_csv( path, header= 4, usecols = range(0,6))
# df2 = df2[['SN', 'Date', 'CycleTime', 'Status', 'FirstFail']]
# df2['CycleTime'] = df2['CycleTime'].str.replace('s', '')

# AÃ±adir una columna "Measurement" al segundo dataframe
# df2['Measurement'] = 0.0

df2

,SN,Date,CycleTime,Nest,Status,FirstFail
0,S230200067,23/01/2023 04:41:23 p. m.,300.65s,1,Failed,UI1 Voltage Input Mode 10V
1,S230200142,23/01/2023 04:46:47 p. m.,624.50s,2,Passed,NaN
2,S230200072,23/01/2023 04:56:03 p. m.,331.19s,1,Passed,NaN
3,S224900538,23/01/2023 05:01:33 p. m.,660.94s,2,Failed,Rotary Address 1 SW1
4,S224900538,23/01/2023 05:15:01 p. m.,337.33s,1,Failed,Rotary Address 1 SW1
5,S224900547,23/01/2023 05:18:56 p. m.,572.79s,2,Failed,Binary Output 2 Led ON
6,S230200067,23/01/2023 05:23:27 p. m.,33.35s,1,Passed,NaN
7,S230200072,23/01/2023 05:23:39 p. m.,44.70s,2,Passed,NaN
8,S230200067,23/01/2023 05:45:06 p. m.,337.88s,1,Failed,Rotary Address 1 SW1