In [119]:
import pandas as pd
import csv
import os
import glob

path = "data/sample/test.csv"

In [296]:
def main():
    logs_path = "data\Results"
    # Busca los archivos del directorio
    for path_file in glob.iglob(f'{logs_path}/**', recursive = True):
        # Checa si es un archivo
        if os.path.isfile(path_file) and "GRR" not in path_file:
            # Abrir el archivo csv para lectura
            with open(path_file, 'r') as logfile:
                reader = csv.reader(logfile)
                # Leer todas las filas en una lista
                rows = [row for row in reader]

                # Buscar la fila con la palabra "SN" en la fila 4 o 5
                for i, row in enumerate(rows):
                    if i in [3, 4] and "SN" in row:
                        # Comprobar si la fila ya tiene 150 ","
                        if len(row) < (len(rows[0]) + 150):
                            # Agregar 150 "," a la fila encontrada
                            row += [""] * 150
                        break

            # Abrir el archivo csv para escritura
            with open(path_file, 'w', newline='') as logfile:
                writer = csv.writer(logfile)
                # Escribir todas las filas en el archivo csv
                writer.writerows(rows)
                print(path_file)

In [126]:
path_file = path

with open(path_file, 'r') as logfile:
    reader = csv.reader(logfile)
    # Leer todas las filas en una lista
    rows = [row for row in reader]
    csv_header1 = rows[0][6:]

# Buscar la fila con la palabra "SN" en la fila 4 o 5
    for i, row in enumerate(rows):
        if i in [3, 4] and "SN" in row:
            # Copia el nombre de las pruebas en la fila para el dataframe
            row += csv_header1
            break

# Abrir el archivo csv para escritura
with open(path_file, 'w', newline='') as logfile:
    writer = csv.writer(logfile)
    # Escribir todas las filas en el archivo csv
    writer.writerows(rows)
    print(path_file)

data/sample/test.csv

In [128]:
# Leer el primer dataframe
df1 = pd.read_csv( path)
#df1 = df1.iloc[:, 5:]

df1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,TestName,UUT Current Measurment,24 VDC Measurment,5 VDC Measurment,3.3 VDC Measurment,1.35 VDC Measurment,1.275 VDC Measurment,VDC w/18 VAC Power,VDC w/7 VAC Power
0,NaN,NaN,NaN,NaN,NaN,LowLimit,0.05,22.8,4.75,3.135,1.337,1.262,22.8,0
1,NaN,NaN,NaN,NaN,NaN,HighLimit,0.3,25.2,5.25,3.465,1.363,1.288,25.2,24
2,NaN,NaN,NaN,NaN,NaN,Units,A,VDC,VDC,VDC,VDC,VDC,VDC,VDC
3,SN,Date,CycleTime,Nest,Status,FirstFail,UUT Current Measurment,24 VDC Measurment,5 VDC Measurment,3.3 VDC Measurment,1.35 VDC Measurment,1.275 VDC Measurment,VDC w/18 VAC Power,VDC w/7 VAC Power
4,S224800005,23/01/2023 02:57:31 p. m.,198.66s,2,Failed,UUT Current Measurment,0.183029,23.7900639,5.02736213,3.34802533,1.35101524,1.27745384,23.7912994,1.49096233
5,S224800005,23/01/2023 03:01:49 p. m.,192.42s,1,Failed,1.35 VDC Measurment,0.183075,23.7952599,5.02714235,3.34788998,1.35107001,1.27751129,23.7963332,1.56194244
6,S224800005,23/01/2023 03:05:25 p. m.,192.60s,1,Passed,NaN,0.182861,23.7972532,5.0271601,3.34788548,1.35113594,1.27760517,23.7982458,1.55665207
7,S224800005,23/01/2023 03:18:01 p. m.,198.97s,2,Passed,NaN,0.182739,23.7928376,5.02740989,3.34796268,1.35106439,1.27750712,23.7925427,1.55328962
8,S224800005,23/01/2023 03:21:47 p. m.,198.96s,2,Failed,VDC w/7 VAC Power,0.182541,23.7967806,5.02761274,3.34788681,1.3512531,1.27773759,23.7965044,1.5640142
9,S224800005,23/01/2023 03:26:07 p. m.,189.78s,2,Failed,VDC w/18 VAC Power,0.182495,23.796551,5.02754875,3.34789317,1.35122956,1.27769625,23.7963096,23.7954432

In [129]:
# Leer el segundo dataframe

df2 = pd.read_csv( path, header= 4)
# df2 = df2[['SN', 'Date', 'CycleTime', 'Status', 'FirstFail']]
# df2['CycleTime'] = df2['CycleTime'].str.replace('s', '')
# # Añadir una columna "Measurement" al segundo dataframe
# df2['Measurement'] = 0.0

# Obtener header de df1
header_df1 = df1.columns.delete(0)
# Insertar header de df1 en df2
df2.insert(loc=6, column=header_df1, value=header_df1)
df2

TypeError: unhashable type: 'Index'